[submodule "src/third_party/FiNeR"]
	path = src/third_party/FiNeR
	url = https://github.com/KenHino/FiNeR.git
[submodule "src/third_party/BeFoR64"]
	path = src/third_party/BeFoR64
	url = https://github.com/KenHino/BeFoR64.git
